{% extends 'base.jinja2' %}
{% block content %}

  <div class="container p-4">
    <div class="card row my-1" style="background-color: #D8BFD8">
      <div class="card-header h5">Раздел {{ question.chapter.name }} Вопрос #{{ question.order_number }}</div>
      <div class="card-body">{{ question.text | safe }}</div>
    </div>

    {% if answers %}
      {% for answer in answers %}
        <div class="row">
          <div class="card my-1" style="max-width: 5rem;">
            <div class="row no-gutters">
              <div class="col-md-4" style="padding: 5px">
                <img src="{{ answer.users.avatar(65) }}" class="rounded-circle mb-3" alt="...">
              </div>
            </div>
            {% if not auth %}
              <div class="text-center">
              <span class="d-block">
              <button class="btn-outline-success rounded-top"
                      data-toggle="modal" data-target="#exampleModal"> +</button>
              </span>
                <span class="d-block">{{ answer.likes_count }}</span>
                <span class="d-block">
                <button class="btn-outline-danger rounded-bottom mb-1"
                        data-toggle="modal" data-target="#exampleModal"> --</button>
              </span>
              </div>
            {% else %}
              <div class="text-center">
              <span class="d-block">
                <form action="{{ url_for('answers.likes_count', answer_id=answer.id, like=1) }}" method="post">
                  <button class="rounded-top btn-outline-success" {{ button_status.get(answer.id).get('like') }}> +</button>
                </form>
              </span>
                <span class="d-block">{{ answer.likes_count }}</span>
                <span class="d-block">
                <form action="{{ url_for('answers.likes_count', answer_id=answer.id, like=0) }}" method="post">
                  <button class="rounded-bottom mb-1 btn-outline-danger" {{ button_status.get(answer.id).get('dislike') }}> --</button>
                </form>
              </span>
              </div>
            {% endif %}
          </div>
          <div class="card my-1 col">
            <div class="card-header row">
              <div class="mr-auto">
                {% if answer.is_approve %}
                  <img src="{{ url_for('static', filename='approve_symbol.jpg') }}" width="30" alt="Одобрено"
                       title="Одобрено">
                {% endif %}
                Ответ
              </div>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <div class="card-body">{{ answer.text | safe }}</div>
              </blockquote>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="row justify-content-center">
        <div class="card my-1 col bg-light">
          <div class="card-header">
            :(
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <div class="card-body">Ответов нет :( Вы можете стать первым.</div>
            </blockquote>
          </div>
        </div>
      </div>
    {% endif %}
    {% if form.errors %}
      <div class="row justify-content-center">
        {% include 'components/form_error.jinja2' %}
      </div>
    {% endif %}
    {% include 'components/answer_form.jinja2' %}
  </div>
  {% include "components/inc_login_modal.jinja2" %}
{% endblock %}
