{% extends 'base.jinja2' %}
{% block content %}

  <div class="container p-4">
    <div class="row justify-content-center">
      <div class="card col my-1" style="background-color: #D8BFD8">
        <div class="card-header h5">Раздел {{ question.chapter.name }} Вопрос #{{ question.order_number }}</div>
      <div class="card-body">{{ question.text | safe }}</div>
      </div>
    </div>

    

    {% if answers %}
      {% for answer in answers %}
        <div class="row justify-content-center">
          <div class="card my-1 col bg-light border-info">
            <div class="card-header" >
              Ответ {% if answer.is_approve %} <img src="{{ url_for('static', filename='approve_symbol.jpg') }}" width="30">{% endif %}
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                 <div class="card-body">{{ answer.text | safe }}</div>
              </blockquote>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
        <div class="row justify-content-center">
          <div class="card my-1 col bg-light">
            <div class="card-header">
              :(
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <div class="card-body">Ответов нет :( Вы можете стать первым.</div>
              </blockquote>
            </div>
          </div>
        </div>
    {% endif %}
  {% if form.errors %}
    <div class="row justify-content-center">
        {% include 'components/form_error.jinja2' %}
    </div>
  {% endif %}
  {% include 'components/answer_form.jinja2' %}
    </div>

{% endblock %}
