<!DOCTYPE html>
<html>
<head>
</head>
<body>
{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='vendor/bootstrap.min.js')}}"></script>
{% endblock %}
{% block content %}{% endblock %}
</body>
</html>
