<footer class="page-footer font-small mdb-color pt-4">
  <div class="container">
  <div>
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">
    <div class="col-md-2 mb-3">
      <h6 class="text-uppercase font-weight-bold">
        <a href="https://github.com/honeydev/junior" class="text-white">Github</a>
      </h6>
    </div>
    <div class="col-md-2 mb-3">
      <h6 class="text-uppercase font-weight-bold">
        <a href="http://fogstream.ru/" class="text-white">Сайт компании</a>
      </h6>
    </div>
    </div>
  </div>  
  </div>
</footer>
