{% extends 'base.jinja2' %}
{% block content %}
<div class="container">
  <div class="h4">
    {% for chapter in chapters %}
      <div class="row">
        <div class="mt-3 text-light">
          <h3>{{ chapter.name }}</h3>
        </div>
      </div>
      <div class="row">
        {% for question in chapter.questions %}
          <div class="col-lg-6 col-12 mt-4">
            {% include 'components/question_card.jinja2' %}
          </div>
        {% endfor %}
      </div>      
    {% endfor %}
  </div>
</div>
{% endblock %}
