{% extends 'base.jinja2' %}
{% block content %}
<div class="container">
  <div class="h4">
    {% for chapter in chapters %}
      <div class="row">
        <div class="mt-3 text-light">
          <h3>{{ chapter.name }}</h3>
        </div>
      </div>
      {% include 'components/questions_block.jinja2' %}
    {% endfor %}
  </div>
</div>
{% endblock %}
