{% extends 'base.jinja2' %}
{% include 'navbar.jinja2'%}
{% block content %}
<div class="container card mt-5 col-4">
  <div class="row card-header">
    <div class="mx-auto col-auto">
      ВОЙТИ
    </div>
  </div>

  <form class="form-horizontal" action="{{ url_for('auth.login') }}" method="post">
    <div class="form-group">
      <div class="row">
        <div class="mx-auto col-10 mt-5 mb-2">
          <input type="text"
                 name="login"
                 required
                 class="form-control"
                 id="login"
                 placeholder="Логин">
        </div>
      </div>
      <div class="row">
        <div class="mx-auto col-10 mb-2">
          <input type="password"
                 name="password"
                 required
                 class="form-control"
                 id="password"
                 placeholder="Пароль">
        </div>
      </div>

      <div class="row">
        <div class="mx-auto col-auto mt-4">
          <button type="submit" class="btn btn-success">Отправить</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
