{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark h4">
    <img height="50" width="50" src="{{ url_for('static', filename='logo.png') }}" class="img-fluid" alt="Responsive image">
    <ul class="navbar-nav mr-auto">  
        <li class="nav-item active">
          <a class="nav-link text-light px-2" href="{{ url_for('index.index') }}">Минимум<span class="sr-only">(current)</span></a>
        </li>
    </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Навигация">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {% if auth %}
        {% if auth.user.is_superuser %}
          <a class="nav-link text-light" href="{{ url_for('admin.index') }}">Админ-панель</a>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Вы вошли как {{ auth.user.login }}
          </a>
          <div class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" href="{{ url_for('auth.profile') }}">Профиль</a>
            <a class="dropdown-item text-light" href="{{ url_for('auth.logout') }}">Выход</a>
          </div>
        </li>
      {% else %}
        <li class="nav-item active">
          <a class="nav-link text-light" href="{{ url_for('auth.login') }}" methods="get">Вход</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" href="{{ url_for('auth.registration') }}" methods="get">Регистрация</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}
