{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">
    <img height="32" width="32" src="{{ url_for('static', filename='logo.png') }}" class="img-fluid" alt="Responsive image">
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">  
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index.index') }}">Минимум<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav dropdown-menu-left">
      <div class="form-inline my-2 my-lg-0">
        {% if auth  %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Вы вошли как {{ auth.user.login }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="nav-link" href="{{ url_for('auth.logout') }}">Выход</a>
            </div>
          </li>
        {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('auth.login') }}" methods="get">Вход</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('auth.registration') }}" methods="get">Регистрация</a>
          </li>
        {% endif %}
      </div>
    </ul>
  </div>
</nav>
{% endblock %}
