{% extends 'base.jinja2' %}
{% block content %}
    <form action="/auth/", method="post">
        <label>Логин:</label>
        <input name="login" type="text"> <br>
        <label>Пароль:</label>
        <input name="password" type="password"> <br>
        <label>Повторите пароль:</label>
        <input name="password2" type="password"> <br>
        <label>Email:</label>
        <input name="email" type="email"> <br>
        <label>Имя:</label>
        <input name="firstname" type="text"> <br>
        <label>Фамилия:</label>
        <input name="middlename" type="text"> <br>
        <label>Отчество:</label>
        <input name="lastname" type="text"> <br>
    <button type="submit">Отправить</button>
    </form>
{% endblock %}
