{% extends 'base.jinja2' %}
{% include 'navbar.jinja2'%}
{% block header %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="card mt-5 col-6 offset-3">
      <div class="row card-header">
        <div class="mx-auto col-auto">РЕГИСТРАЦИЯ</div>
      </div>
      {% if form.errors %}
        {% for field, errors in form.errors.items() %}
          <div class="alert alert-error">
            {{ form[field].label }}: {{ ', '.join(errors) }}
          </div>
        {% endfor %}
      {% endif %}

      {% if info %}
        <div class="alert alert-error">
          {{ info }}
        </div>
      {% endif %}

      <form class="form-horizontal mb-5" action="{{ url_for('auth.registration') }}" method="post">
        <div class="form-group">

          {% for form in form %}
            <div class="row">
              <div class="mx-auto col-10 mt-3">
                {{ form(class_='form-control', placeholder = form.label.text) }}
              </div>
            </div>
          {% endfor %}

          <div class="row">
            <div class="mx-auto col-auto mt-4">
              <button type="submit" class="btn btn-success">Зарегистрироваться</button>
            </div>
          </div>
        </div>
      </form>
      </div>
  </div>
  <div class="row mt-3">
    <div class="col center">
      <h3 class="text-center text-uppercase">или</h3>
    </div>
  </div>
  {% include 'components/social_login.jinja2' %} 
</div>
{% endblock %}
