{% for form in form %}
  <div class="row justify-content-center pb-4">
    <div class="card my-1 col">

      <div class="panel-group" id="collapse-group">
        <div class="panel panel-default">

          <div class="panel-heading" style="cursor: pointer;">
            <h4 class="panel-title ">
              <div data-toggle="collapse" class="text-center" data-parent="#collapse-group" href="#el1">
                <div class="card-body">Дать ответ</div>
              </div>
            </h4>
          </div>
          {% if auth %}
            <form action="{{ url_for('answers.answer', question_id=question.id) }}" method="post"
                  class="form-horizontal">
              <div id="el1" class="panel-collapse collapse">
                <div class="panel-body">
                  <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
                  {{ form }}
                  <div class="row">
                    <div class="mx-auto col-auto my-3">
                      <button type="submit" class="btn btn-success">Отправить</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          {% else %}
            <form action="{{ url_for('auth.login') }}" method="post" class="form-horizontal">
              <div id="el1" class="panel-collapse collapse">
                {% include 'components/inc_login_form.jinja2' %}
              </div>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
