      {% if info %}
        <div class="alert alert-info col my-1">
          {{ info }}
        </div>
      {% endif %}
      {% if form.errors or errors %}
        <div class="alert alert-danger col my-1">
            {% for error in errors %}
              <p class="m-0">{{ error }}</p>
            {% endfor %}
            {% for field in form.errors %}
              {% for error in form.errors[field] %}
                <p class="m-0"><b>{{ form[field].label.text }}:</b> {{ error }}</p>
              {% endfor %}
            {% endfor %}
        </div>
      {% endif %}
      {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-info col my-1">
            {% for message in messages %}
              <p class="m-0">{{ message }}</p>
            {% endfor %}
            </div>
          {% endif %}
      {% endwith %}