<div class="card background-light questionCard">
  <div class="card-header h5">
    <span>#{{ question.order_number }}</span>
    <span>
      <a href="{{ url_for('test_cases.test_case_index', question_id=question.id) }}">
        {% if question.test_case %}
          <span class="float-right badge badge-danger">Тест</span>
        {% endif %}
      </a>
    </span>
  </div>
  <div class="card-body">{{ question.text | safe | truncate(60) }}</div>
  <a href="{{ url_for('answers.answer', question_id=question.id) }}"
     class="btn"
     style="background-color: #9e779eb0">
    Подробней...
  </a>
</div>
