{% for questions in chapter.splited_questions %}
  <div class="row">
    <div class="col-6 mt-4">
      {% set question = questions[0] %}
      {% include 'components/question_card.jinja2' %}
    </div>
    {% if questions[1] %}
      {% set question = question[1] %}
      <div class="col-6 mt-4">
        {% set question = questions[1] %}
        {% include 'components/question_card.jinja2' %}
      </div>
    {% endif %}
  </div>
{% endfor %}
