<form action="{{ url_for('answers.likes_count', question_id=question.id,
                                                answer_id=answer.id,
                                                like=False) }}" method="post">
  <button class="btn-danger"> -- </button>
</form>
