<div class="row">
  <div class="card mt-3 col-6 offset-3">
    <div class="text-white">
      <div class="card-body text-center">
        <a href="{{ url_for('github.login') }}">
          <img src="{{ url_for('static', filename='github.png') }}"/>
        </a>
      </div>
    </div>
  </div>
</div>
